.card.modal_input {
 height: 80vh;
 border: 1px solid rgba(216, 216, 216, 0.938);
 position: absolute;
 background: rgb(247, 247, 247);
 top: 10vh;
 left: 0;
 right: 0;
 margin: 0 auto;
 @include flexCentered;
}

.pop-up-box__backdrop {
 width: 100vw;
 height: 100vh;
 background-color: rgba(40, 44, 44, 0.404);
 backdrop-filter: blur(11px);
 -webkit-backdrop-filter: blur(11px);
 position: absolute;
 left: 0;
 z-index: 2;
}

.pop-up-box__modal {
 border: 1px solid #d6d6d6;
 height: 90%;
 width: 90%;
 border-radius: 0.2em;
 //  background-color: #e4e4e4;
 background-color: #7b9ca3;
 @include flexCentered;
 position: relative;
 z-index: 10;
}

.backdrop-cross {
 font-size: 2rem;
 position: absolute;
 right: 0.6em;
 top: 0.5em;
 color: #cdcdcd;
 cursor: pointer;
 transition: 0.2s ease-in-out;
 &:hover {
  color: #f1f1f1;
 }
}

.none-activated {
 display: none;
}

.activated {
 display: inline-block;
}
